@{
    ViewData["Title"] = "Detalhe Evento";
}

<div class="kf_content_wrap">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!--EVENT CONVOCATION OUTER Wrap START-->
                    <div class="kf_convocation_outer_wrap">
                        <div class="convocation_slider">
                            <div id="owl-demo-23" class="owl-carousel owl-theme">
                                <div class="item"><figure><img src="~/images/event_detail.jpg" alt="" /></figure></div>
                                <div class="item"><figure><img src="~/images/event_detail2.jpg" alt="" /></figure></div>
                                <div class="item"><figure><img src="~/images/event_detail3.jpg" alt="" /></figure></div>
                            </div>
                        </div>

                        <!--EVENT CONVOCATION  Wrap START-->
                        <div class="kf_convocation_wrap">
                            <h4><span>Convocation</span> for Gradute Students</h4>
                            <ul class="convocation_timing">
                                <li><i class="fas fa-calendar"></i>14 Nov, 2015</li>
                                <li><i class="fas fa-clock"></i>10:00 am - 04:00 pm</li>
                            </ul>

                            <!--EVENT CONVOCATION DES START-->
                            <div class="kf_convocation_des">
                                <div class="col-md-6">
                                    <h5>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</h5>
                                    <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Proin gravida nibh vel velit auctor aliquet. Aenean lorem quis bibendum auctor, nisi elit consequat ipsum.</p>

                                    <h5>Informações Adicionais</h5>
                                    <p>Join our team for this event we will support you all the way, providing training and fundraising tips.</p>
                                    @*<a href=""><i class="fa fa-plus"></i>Google Calender</a>*@
                                    @*<a href=""><i class="fa fa-plus"></i>Local Expert</a>*@
                                </div>
                                <div class="col-md-6">
                                    <!--EVENT CONVOCATION MAP  Wrap START-->
                                    <div class="kf_convocation_map">
                                        <div id="map-canvas">
                                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3658.307815028706!2d-46.7359058850229!3d-23.521428784702724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cef8c6b6bfebb5%3A0xd8ae93d09089ed10!2sR.+Guaip%C3%A1%2C+1179+-+Vila+Leopoldina%2C+S%C3%A3o+Paulo+-+SP%2C+05089-001!5e0!3m2!1spt-BR!2sbr!4v1525735711526" frameborder="0" style="border: 0; width: 100%; height: 400px; box-shadow: 1px 1px 10px 0px;" allowfullscreen=""></iframe>
                                        </div>
                                        @*<a class="convocation_link" href="#">Details</a>*@
                                        @*<a class="convocation_link" href="#">Organizer</a>*@
                                        @*<a class="convocation_link" href="#">Venue</a>*@
                                    </div>
                                    <!--EVENT CONVOCATION MAP  Wrap END-->
                                </div>
                            </div>                            
                            <!--EVENT CONVOCATION DES END-->
                        </div>
                        <!--EVENT CONVOCATION  Wrap END-->
                        <!--EVENT SPEAKER Wrap START-->
                        <div class="kf_event_speakers">
                            <div class="heading_5">
                                <h4><span>Palestrantes</span> do Evento</h4>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-sm-4">
                                    <div class="kf_event_speakers_des">
                                        <figure><img src="~/images/event-sp.jpg" alt="" /></figure>
                                        <h5><a href="#">Jim Taylor</a></h5>
                                        <p>Palestrante</p>
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-4">
                                    <div class="kf_event_speakers_des">
                                        <figure><img src="~/images/event-sp2.jpg" alt="" /></figure>
                                        <h5><a href="#">Alberta Doe</a></h5>
                                        <p>Palestrante</p>
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-4">
                                    <div class="kf_event_speakers_des">
                                        <figure><img src="~/images/event-sp3.jpg" alt="" /></figure>
                                        <h5><a href="#">Jim Taylor</a></h5>
                                        <p>Palestrante</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--EVENT SPEAKER Wrap End-->
                        <!--EVENT GALLERY Wrap STAT-->
                        <div class="kf_event_gallery">
                            <div class="heading_5">
                                <h4><span>Galeria</span> do Evento</h4>
                            </div>
                            @*<ul class="event_gallery_des">
                                    <li><a href="#"><img src="~/images/event_gallery1.jpg" alt="" /></a></li>
                                    <li><a href="#"><img src="~/images/event_gallery2.jpg" alt="" /></a></li>
                                    <li><a href="#"><img src="~/images/event_gallery3.jpg" alt="" /></a></li>
                                    <li><a href="#"><img src="~/images/event_gallery4.jpg" alt="" /></a></li>
                                    <li><a href="#"><img src="~/images/event_gallery5.jpg" alt="" /></a></li>
                                    <li><a href="#"><img src="~/images/event_gallery6.jpg" alt="" /></a></li>
                                </ul>*@
                            <div class="edu2_faculty_wrap">
                                <div id="owl-carousel-6" class="owl-carousel owl-theme">
                                    <div class='item event_gallery_des'>
                                        <a href="#"><img src="~/images/event_gallery1.jpg" alt="" /></a>
                                    </div>
                                    <div class='item event_gallery_des'>
                                        <a href="#"><img src="~/images/event_gallery2.jpg" alt="" /></a>
                                    </div>
                                    <div class='item event_gallery_des'>
                                        <a href="#"><img src="~/images/event_gallery3.jpg" alt="" /></a>
                                    </div>
                                    <div class='item event_gallery_des'>
                                        <a href="#"><img src="~/images/event_gallery4.jpg" alt="" /></a>
                                    </div>
                                    <div class='item event_gallery_des'>
                                        <a href="#"><img src="~/images/event_gallery5.jpg" alt="" /></a>
                                    </div>
                                    <div class='item event_gallery_des'>
                                        <a href="#"><img src="~/images/event_gallery6.jpg" alt="" /></a>
                                    </div>
                                    <div class='item event_gallery_des'>
                                        <a href="#"><img src="~/images/event_gallery7.jpg" alt="" /></a>
                                    </div>
                                    <div class='item event_gallery_des'>
                                        <a href="#"><img src="~/images/event_gallery8.jpg" alt="" /></a>
                                    </div>
                                </div>

                                @*<a class="event_link next" href="#">NEXT EVENT<i class="fa fa-angle-right"></i></a>*@
                                @*<a class="event_link prev" href="#"><i class="fa fa-angle-left"></i>PREVIOUS EVENT</a>*@
                            </div>
                            <!--EVENT GALLERY Wrap End-->

                        </div>
                        <!--EVENT CONVOCATION OUTER Wrap END-->

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
