<!-- FACULTY WRAP START-->
<section>
    <div class="container">
        <div class="row">
            <!-- HEADING 1 START-->
            <div class="col-md-12">
                <div class="kf_edu2_heading1">
                    <h3>Membros Acadêmicos</h3>
                </div>
            </div>
            <!-- HEADING 1 END-->
            <!-- FACULTY SLIDER WRAP START-->
            <div class="edu2_faculty_wrap">
                <div id="owl-demo-8" class="owl-carousel owl-theme">
                    <div class="item">
                        <!-- FACULTY DES START-->
                        <div class="edu2_faculty_des">
                            <figure>
                                <img src="~/images/faculty-mb1.jpg" alt="" />
                                <figcaption>
                                    <a href="#">Ver Perfil</i></a>
                                    <!--<a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>-->
                                </figcaption>
                            </figure>
                            <div class="edu2_faculty_des2">
                                <h6><a href="#">Danny Awesome</a></h6>
                                <strong>Manager</strong>
                                <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh...</p>
                            </div>
                        </div>
                        <!-- FACULTY DES END-->
                    </div>
                    <div class="item">
                        <!-- FACULTY DES START-->
                        <div class="edu2_faculty_des">
                            <figure>
                                <img src="~/images/faculty-mb2.jpg" alt="" />
                                <figcaption>
                                    <a href="#">Ver Perfil</i></a>
                                    <!--<a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>-->
                                </figcaption>
                            </figure>
                            <div class="edu2_faculty_des2">
                                <h6><a href="#">Kimberly Richiez</a></h6>
                                <strong>Russian Teacher</strong>
                                <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh...</p>
                            </div>
                        </div>
                        <!-- FACULTY DES END-->
                    </div>
                    <div class="item">
                        <!-- FACULTY DES START-->
                        <div class="edu2_faculty_des">
                            <figure>
                                <img src="~/images/faculty-mb3.jpg" alt="" />
                                <figcaption>
                                    <a href="#">Ver Perfil</i></a>
                                    <!--<a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>-->
                                </figcaption>
                            </figure>
                            <div class="edu2_faculty_des2">
                                <h6><a href="#">Dylan Taylor</a></h6>
                                <strong>English Teacher</strong>
                                <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh...</p>
                            </div>
                        </div>
                        <!-- FACULTY DES END-->
                    </div>
                    <div class="item">
                        <!-- FACULTY DES START-->
                        <div class="edu2_faculty_des">
                            <figure>
                                <img src="~/images/faculty-mb4.jpg" alt="" />
                                <figcaption>
                                    <a href="#">Ver Perfil</i></a>
                                    <!--<a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>-->
                                </figcaption>
                            </figure>
                            <div class="edu2_faculty_des2">
                                <h6><a href="#">Simon Grishaber</a></h6>
                                <strong>Health Teacher</strong>
                                <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh...</p>
                            </div>
                        </div>
                        <!-- FACULTY DES END-->
                    </div>
                    <div class="item">
                        <!-- FACULTY DES START-->
                        <div class="edu2_faculty_des">
                            <figure>
                                <img src="~/images/faculty-mb5.jpg" alt="" />
                                <figcaption>
                                    <a href="#">Ver Perfil</i></a>
                                    <!--<a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>-->
                                </figcaption>
                            </figure>
                            <div class="edu2_faculty_des2">
                                <h6><a href="#">Simon Grishaber</a></h6>
                                <strong>Health Teacher</strong>
                                <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh...</p>
                            </div>
                        </div>
                        <!-- FACULTY DES END-->
                    </div>
                    <div class="item">
                        <!-- FACULTY DES START-->
                        <div class="edu2_faculty_des">
                            <figure>
                                <img src="~/images/faculty-mb6.jpg" alt="" />
                                <figcaption>
                                    <a href="#">Ver Perfil</i></a>
                                    <!--<a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>-->
                                </figcaption>
                            </figure>
                            <div class="edu2_faculty_des2">
                                <h6><a href="#">Simon Grishaber</a></h6>
                                <strong>Health Teacher</strong>
                                <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh...</p>
                            </div>
                        </div>
                        <!-- FACULTY DES END-->
                    </div>
                    <div class="item">
                        <!-- FACULTY DES START-->
                        <div class="edu2_faculty_des">
                            <figure>
                                <img src="~/images/faculty-mb7.jpg" alt="" />
                                <figcaption>
                                    <a href="#">Ver Perfil</i></a>
                                    <!--<a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>-->
                                </figcaption>
                            </figure>
                            <div class="edu2_faculty_des2">
                                <h6><a href="#">Simon Grishaber</a></h6>
                                <strong>Health Teacher</strong>
                                <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh...</p>
                            </div>
                        </div>
                        <!-- FACULTY DES END-->
                    </div>
                    <div class="item">
                        <!-- FACULTY DES START-->
                        <div class="edu2_faculty_des">
                            <figure>
                                <img src="~/images/faculty-mb8.jpg" alt="" />
                                <figcaption>
                                    <a href="#">Ver Perfil</i></a>
                                    <!--<a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>-->
                                </figcaption>
                            </figure>
                            <div class="edu2_faculty_des2">
                                <h6><a href="#">Simon Grishaber</a></h6>
                                <strong>Health Teacher</strong>
                                <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh...</p>
                            </div>
                        </div>
                        <!-- FACULTY DES END-->
                    </div>
                </div>
            </div>
            <!-- FACULTY SLIDER WRAP END-->
        </div>
    </div>
</section>
<!-- FACULTY WRAP START-->
