<section>
    <div class="container">
        <div class="row">
            <!-- HEADING 1 START-->
            <div class="col-md-4">
                <div class="kf_edu2_heading1">
                    <h3>Nossas Turmas</h3>
                </div>
            </div>
            <!-- HEADING 1 END-->
            <!--EDU2 COURSES TAB WRAP START-->
            <div class="col-md-8">
                <div class="kf_edu2_tab_wrap">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#all" aria-controls="all" role="tab" data-toggle="tab">Infantil</a></li>
                        <li role="presentation"><a href="#accounting" aria-controls="accounting" role="tab" data-toggle="tab">Fundamental</a></li>
                        <li role="presentation"><a href="#economics" aria-controls="economics" role="tab" data-toggle="tab">Médio</a></li>
                        <li role="presentation"><a href="#finance" aria-controls="finance" role="tab" data-toggle="tab">Integral</a></li>
                        <li role="presentation"><a href="#technologies" aria-controls="technologies" role="tab" data-toggle="tab">Karatê</a></li>
                        <li role="presentation"><a href="#management" aria-controls="management" role="tab" data-toggle="tab">Inglês</a></li>
                        <li role="presentation"><a href="#other" aria-controls="other" role="tab" data-toggle="tab">Ballet</a></li>
                        <li role="presentation"><a href="#other" aria-controls="other" role="tab" data-toggle="tab">Música</a></li>
                    </ul>

                </div>

            </div>
            <div class="kf_edu2_tab_des">
                <div class="col-md-12">
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="all">
                            <!-- 1 Tab START  -->
                            <div class="row margin-bottom">
                                <!-- EDU COURSES WRAP START -->
                                <div class="col-md-4">
                                    <div class="edu2_cur_wrap">
                                        <figure>
                                            <img src="/images/cur-wrap-2.jpg" alt="">
                                            <figcaption><a href="courses-detail.html">See More</a></figcaption>
                                        </figure>
                                        <div class="edu2_cur_des">
                                            @*<span>$20</span>*@
                                            <h5><a href="#">Real Estate Law</a></h5>
                                            <strong>
                                                <span>Dec 27, 2015</span>
                                                <small>Jan 27, 2016</small>
                                            </strong>
                                            <p>If you want to build a successful business online, watch the promo video to see why 13,000+ students are using this online entrepreneurship course to learn.</p>
                                        </div>
                                        <div class="edu2_cur_des_ft">
                                            <figure>
                                                <img src="/images/cur_ft.jpg" alt="" />
                                            </figure>
                                            <div class="edu2_cur_ftr_strip">
                                                <h6>Sara Johnson</h6>
                                                <div class="rating">
                                                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- EDU COURSES WRAP END -->
                                <!-- EDU COURSES WRAP START -->
                                <div class="col-md-4">
                                    <div class="edu2_cur_wrap">
                                        <figure>
                                            <img src="/images/cur-wrap.jpg" alt="">
                                            <figcaption><a href="courses-detail.html">See More</a></figcaption>
                                        </figure>
                                        <div class="edu2_cur_des">
                                            @*<span>$20</span>*@
                                            <h5><a href="#">The Secrets of Economic</a></h5>
                                            <strong>
                                                <span>Dec 27, 2015</span>
                                                <small>Jan 27, 2016</small>
                                            </strong>
                                            <p>Personal time management skills are essential for professional & personal success in any area of life. Those able to successfully implement time management strategies</p>
                                        </div>
                                        <div class="edu2_cur_des_ft">
                                            <figure>
                                                <img src="/images/cur_ft-2.jpg" alt="" />
                                            </figure>
                                            <div class="edu2_cur_ftr_strip">
                                                <h6>Johny Fisher</h6>
                                                <div class="rating">
                                                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- EDU COURSES WRAP END -->
                                <!-- EDU COURSES WRAP START -->
                                <div class="col-md-4">
                                    <div class="edu2_cur_wrap">
                                        <figure>
                                            <img src="/images/cur-wrap-3.jpg" alt="">
                                            <figcaption><a href="courses-detail.html">See More</a></figcaption>
                                        </figure>
                                        <div class="edu2_cur_des">
                                            @*<span>$20</span>*@
                                            <h5><a href="#">Networking Management</a></h5>
                                            <strong>
                                                <span>Dec 27, 2015</span>
                                                <small>Jan 27, 2016</small>
                                            </strong>
                                            <p>Welcome to Logo Design fundamentals of building a great brand Logo. Our course teacher Lauren, walks you through his process of logo design.</p>
                                        </div>
                                        <div class="edu2_cur_des_ft">
                                            <figure>
                                                <img src="/images/cur_ft-3.jpg" alt="" />
                                            </figure>
                                            <div class="edu2_cur_ftr_strip">
                                                <h6>Peter Parker</h6>
                                                <div class="rating">
                                                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- EDU COURSES WRAP END -->
                            </div>
                            @*<div class="view-all">
                                <a class="btn-3" href="#">View All Cources</a>
                            </div>*@
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="accounting">
                            <!-- 2 Tab START  -->
                            <div class="row margin-bottom">
                                <!-- EDU COURSES WRAP START -->
                                <div class="col-md-4">
                                    <div class="edu2_cur_wrap">
                                        <figure>
                                            <img src="/images/cur-wrap-2.jpg" alt="">
                                            <figcaption><a href="courses-detail.html">See More</a></figcaption>
                                        </figure>
                                        <div class="edu2_cur_des">
                                            @*<span>$20</span>*@
                                            <h5><a href="#">Real Estate Law</a></h5>
                                            <strong>
                                                <span>Dec 27, 2015</span>
                                                <small>Jan 27, 2016</small>
                                            </strong>
                                            <p>If you want to build a successful business online, watch the promo video to see why 13,000+ students are using this online entrepreneurship course to learn.</p>
                                        </div>
                                        <div class="edu2_cur_des_ft">
                                            <figure>
                                                <img src="/images/cur_ft.jpg" alt="" />
                                            </figure>
                                            <div class="edu2_cur_ftr_strip">
                                                <h6>Sara Johnson</h6>
                                                <div class="rating">
                                                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- EDU COURSES WRAP END -->
                                <!-- EDU COURSES WRAP START -->
                                <div class="col-md-4">
                                    <div class="edu2_cur_wrap">
                                        <figure>
                                            <img src="/images/cur-wrap-3.jpg" alt="">
                                            <figcaption><a href="courses-detail.html">See More</a></figcaption>
                                        </figure>
                                        <div class="edu2_cur_des">
                                            @*<span>$20</span>*@
                                            <h5><a href="#">Networking Management</a></h5>
                                            <strong>
                                                <span>Dec 27, 2015</span>
                                                <small>Jan 27, 2016</small>
                                            </strong>
                                            <p>Welcome to Logo Design fundamentals of building a great brand Logo. Our course teacher Lauren, walks you through his process of logo design.</p>
                                        </div>
                                        <div class="edu2_cur_des_ft">
                                            <figure>
                                                <img src="/images/cur_ft.jpg" alt="" />
                                            </figure>
                                            <div class="edu2_cur_ftr_strip">
                                                <h6>Peter Parker</h6>
                                                <div class="rating">
                                                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- EDU COURSES WRAP END -->
                                <!-- EDU COURSES WRAP START -->
                                <div class="col-md-4">
                                    <div class="edu2_cur_wrap">
                                        <figure>
                                            <img src="/images/cur-wrap.jpg" alt="">
                                            <figcaption><a href="courses-detail.html">See More</a></figcaption>
                                        </figure>
                                        <div class="edu2_cur_des">
                                            @*<span>$20</span>*@
                                            <h5><a href="#">The Secrets of Economic</a></h5>
                                            <strong>
                                                <span>Dec 27, 2015</span>
                                                <small>Jan 27, 2016</small>
                                            </strong>
                                            <p>Personal time management skills are essential for professional & personal success in any area of life. Those able to successfully implement time management strategies</p>
                                        </div>
                                        <div class="edu2_cur_des_ft">
                                            <figure>
                                                <img src="/images/cur_ft.jpg" alt="" />
                                            </figure>
                                            <div class="edu2_cur_ftr_strip">
                                                <h6>Johny Fisher</h6>
                                                <div class="rating">
                                                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- EDU COURSES WRAP END -->
                            </div>
                            @*<div class="view-all">
                                <a class="btn-3" href="#">View All Cources</a>
                            </div>*@
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="economics">
                            <!-- 2 Tab START  -->
                            <div class="row margin-bottom">
                                <!-- EDU COURSES WRAP START -->
                                <div class="col-md-4">
                                    <div class="edu2_cur_wrap">
                                        <figure>
                                            <img src="/images/cur-wrap.jpg" alt="">
                                            <figcaption><a href="courses-detail.html">See More</a></figcaption>
                                        </figure>
                                        <div class="edu2_cur_des">
                                            @*<span>$20</span>*@
                                            <h5><a href="#">The Secrets of Economic</a></h5>
                                            <strong>
                                                <span>Dec 27, 2015</span>
                                                <small>Jan 27, 2016</small>
                                            </strong>
                                            <p>Personal time management skills are essential for professional & personal success in any area of life. Those able to successfully implement time management strategies</p>
                                        </div>
                                        <div class="edu2_cur_des_ft">
                                            <figure>
                                                <img src="/images/cur_ft.jpg" alt="" />
                                            </figure>
                                            <div class="edu2_cur_ftr_strip">
                                                <h6>Johny Fisher</h6>
                                                <div class="rating">
                                                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- EDU COURSES WRAP END -->
                                <!-- EDU COURSES WRAP START -->
                                <div class="col-md-4">
                                    <div class="edu2_cur_wrap">
                                        <figure>
                                            <img src="/images/cur-wrap-2.jpg" alt="">
                                            <figcaption><a href="courses-detail.html">See More</a></figcaption>
                                        </figure>
                                        <div class="edu2_cur_des">
                                            @*<span>$20</span>*@
                                            <h5><a href="#">Real Estate Law</a></h5>
                                            <strong>
                                                <span>Dec 27, 2015</span>
                                                <small>Jan 27, 2016</small>
                                            </strong>
                                            <p>If you want to build a successful business online, watch the promo video to see why 13,000+ students are using this online entrepreneurship course to learn.</p>
                                        </div>
                                        <div class="edu2_cur_des_ft">
                                            <figure>
                                                <img src="/images/cur_ft.jpg" alt="" />
                                            </figure>
                                            <div class="edu2_cur_ftr_strip">
                                                <h6>Sara Johnson</h6>
                                                <div class="rating">
                                                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- EDU COURSES WRAP END -->
                                <!-- EDU COURSES WRAP START -->
                                <div class="col-md-4">
                                    <div class="edu2_cur_wrap">
                                        <figure>
                                            <img src="/images/cur-wrap-3.jpg" alt="">
                                            <figcaption><a href="courses-detail.html">See More</a></figcaption>
                                        </figure>
                                        <div class="edu2_cur_des">
                                            @*<span>$20</span>*@
                                            <h5><a href="#">Networking Management</a></h5>
                                            <strong>
                                                <span>Dec 27, 2015</span>
                                                <small>Jan 27, 2016</small>
                                            </strong>
                                            <p>Welcome to Logo Design fundamentals of building a great brand Logo. Our course teacher Lauren, walks you through his process of logo design.</p>
                                        </div>
                                        <div class="edu2_cur_des_ft">
                                            <figure>
                                                <img src="/images/cur_ft.jpg" alt="" />
                                            </figure>
                                            <div class="edu2_cur_ftr_strip">
                                                <h6>Peter Parker</h6>
                                                <div class="rating">
                                                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- EDU COURSES WRAP END -->
                            </div>
                            @*<div class="view-all">
                                <a class="btn-3" href="#">View All Cources</a>
                            </div>*@
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="finance">
                            <div class="row margin-bottom">
                                <!-- EDU COURSES WRAP START -->
                                <div class="col-md-4">
                                    <div class="edu2_cur_wrap">
                                        <figure>
                                            <img src="/images/cur-wrap.jpg" alt="">
                                            <figcaption><a href="courses-detail.html">See More</a></figcaption>
                                        </figure>
                                        <div class="edu2_cur_des">
                                            @*<span>$20</span>*@
                                            <h5><a href="#">The Secrets of Economic</a></h5>
                                            <strong>
                                                <span>Dec 27, 2015</span>
                                                <small>Jan 27, 2016</small>
                                            </strong>
                                            <p>Personal time management skills are essential for professional & personal success in any area of life. Those able to successfully implement time management strategies</p>
                                        </div>
                                        <div class="edu2_cur_des_ft">
                                            <figure>
                                                <img src="/images/cur_ft.jpg" alt="" />
                                            </figure>
                                            <div class="edu2_cur_ftr_strip">
                                                <h6>Johny Fisher</h6>
                                                <div class="rating">
                                                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- EDU COURSES WRAP END -->
                                <!-- EDU COURSES WRAP START -->
                                <div class="col-md-4">
                                    <div class="edu2_cur_wrap">
                                        <figure>
                                            <img src="/images/cur-wrap-2.jpg" alt="">
                                            <figcaption><a href="courses-detail.html">See More</a></figcaption>
                                        </figure>
                                        <div class="edu2_cur_des">
                                            @*<span>$20</span>*@
                                            <h5><a href="#">Real Estate Law</a></h5>
                                            <strong>
                                                <span>Dec 27, 2015</span>
                                                <small>Jan 27, 2016</small>
                                            </strong>
                                            <p>If you want to build a successful business online, watch the promo video to see why 13,000+ students are using this online entrepreneurship course to learn.</p>
                                        </div>
                                        <div class="edu2_cur_des_ft">
                                            <figure>
                                                <img src="/images/cur_ft.jpg" alt="" />
                                            </figure>
                                            <div class="edu2_cur_ftr_strip">
                                                <h6>Sara Johnson</h6>
                                                <div class="rating">
                                                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- EDU COURSES WRAP END -->
                                <!-- EDU COURSES WRAP START -->
                                <div class="col-md-4">
                                    <div class="edu2_cur_wrap">
                                        <figure>
                                            <img src="/images/cur-wrap-3.jpg" alt="">
                                            <figcaption><a href="courses-detail.html">See More</a></figcaption>
                                        </figure>
                                        <div class="edu2_cur_des">
                                            <span>@*$20*@</span>
                                            <h5><a href="#">Networking Management</a></h5>
                                            <strong>
                                                <span>Dec 27, 2015</span>
                                                <small>Jan 27, 2016</small>
                                            </strong>
                                            <p>Welcome to Logo Design fundamentals of building a great brand Logo. Our course teacher Lauren, walks you through his process of logo design.</p>
                                        </div>
                                        <div class="edu2_cur_des_ft">
                                            <figure>
                                                <img src="/images/cur_ft.jpg" alt="" />
                                            </figure>
                                            <div class="edu2_cur_ftr_strip">
                                                <h6>Peter Parker</h6>
                                                <div class="rating">
                                                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- EDU COURSES WRAP END -->
                            </div>
                            @*<div class="view-all">
                                <a class="btn-3" href="#">View All Cources</a>
                            </div>*@
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="technologies">
                            <div class="row margin-bottom">
                                <!-- EDU COURSES WRAP START -->
                                <div class="col-md-4">
                                    <div class="edu2_cur_wrap">
                                        <figure>
                                            <img src="/images/cur-wrap-2.jpg" alt="">
                                            <figcaption><a href="courses-detail.html">See More</a></figcaption>
                                        </figure>
                                        <div class="edu2_cur_des">
                                            @*<span>$20</span>*@
                                            <h5><a href="#">Real Estate Law</a></h5>
                                            <strong>
                                                <span>Dec 27, 2015</span>
                                                <small>Jan 27, 2016</small>
                                            </strong>
                                            <p>If you want to build a successful business online, watch the promo video to see why 13,000+ students are using this online entrepreneurship course to learn.</p>
                                        </div>
                                        <div class="edu2_cur_des_ft">
                                            <figure>
                                                <img src="/images/cur_ft.jpg" alt="" />
                                            </figure>
                                            <div class="edu2_cur_ftr_strip">
                                                <h6>Sara Johnson</h6>
                                                <div class="rating">
                                                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- EDU COURSES WRAP END -->
                                <!-- EDU COURSES WRAP START -->
                                <div class="col-md-4">
                                    <div class="edu2_cur_wrap">
                                        <figure>
                                            <img src="/images/cur-wrap.jpg" alt="">
                                            <figcaption><a href="courses-detail.html">See More</a></figcaption>
                                        </figure>
                                        <div class="edu2_cur_des">
                                            @*<span>$20</span>*@
                                            <h5><a href="#">The Secrets of Economic</a></h5>
                                            <strong>
                                                <span>Dec 27, 2015</span>
                                                <small>Jan 27, 2016</small>
                                            </strong>
                                            <p>Personal time management skills are essential for professional & personal success in any area of life. Those able to successfully implement time management strategies</p>
                                        </div>
                                        <div class="edu2_cur_des_ft">
                                            <figure>
                                                <img src="/images/cur_ft.jpg" alt="" />
                                            </figure>
                                            <div class="edu2_cur_ftr_strip">
                                                <h6>Johny Fisher</h6>
                                                <div class="rating">
                                                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- EDU COURSES WRAP END -->
                                <!-- EDU COURSES WRAP START -->
                                <div class="col-md-4">
                                    <div class="edu2_cur_wrap">
                                        <figure>
                                            <img src="/images/cur-wrap-3.jpg" alt="">
                                            <figcaption><a href="courses-detail.html">See More</a></figcaption>
                                        </figure>
                                        <div class="edu2_cur_des">
                                            @*<span>$20</span>*@
                                            <h5><a href="#">Networking Management</a></h5>
                                            <strong>
                                                <span>Dec 27, 2015</span>
                                                <small>Jan 27, 2016</small>
                                            </strong>
                                            <p>Welcome to Logo Design fundamentals of building a great brand Logo. Our course teacher Lauren, walks you through his process of logo design.</p>
                                        </div>
                                        <div class="edu2_cur_des_ft">
                                            <figure>
                                                <img src="/images/cur_ft.jpg" alt="" />
                                            </figure>
                                            <div class="edu2_cur_ftr_strip">
                                                <h6>Peter Parker</h6>
                                                <div class="rating">
                                                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- EDU COURSES WRAP END -->
                            </div>
                            @*<div class="view-all">
                                <a class="btn-3" href="#">View All Cources</a>
                            </div>*@
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="management">
                            <div class="row margin-bottom">
                                <!-- EDU COURSES WRAP START -->
                                <div class="col-md-4">
                                    <div class="edu2_cur_wrap">
                                        <figure>
                                            <img src="/images/cur-wrap.jpg" alt="">
                                            <figcaption><a href="courses-detail.html">See More</a></figcaption>
                                        </figure>
                                        <div class="edu2_cur_des">
                                            @*<span>$20</span>*@
                                            <h5><a href="#">The Secrets of Economic</a></h5>
                                            <strong>
                                                <span>Dec 27, 2015</span>
                                                <small>Jan 27, 2016</small>
                                            </strong>
                                            <p>Personal time management skills are essential for professional & personal success in any area of life. Those able to successfully implement time management strategies</p>
                                        </div>
                                        <div class="edu2_cur_des_ft">
                                            <figure>
                                                <img src="/images/cur_ft.jpg" alt="" />
                                            </figure>
                                            <div class="edu2_cur_ftr_strip">
                                                <h6>Johny Fisher</h6>
                                                <div class="rating">
                                                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- EDU COURSES WRAP END -->
                                <!-- EDU COURSES WRAP START -->
                                <div class="col-md-4">
                                    <div class="edu2_cur_wrap">
                                        <figure>
                                            <img src="/images/cur-wrap-3.jpg" alt="">
                                            <figcaption><a href="courses-detail.html">See More</a></figcaption>
                                        </figure>
                                        <div class="edu2_cur_des">
                                            @*<span>$20</span>*@
                                            <h5><a href="#">Networking Management</a></h5>
                                            <strong>
                                                <span>Dec 27, 2015</span>
                                                <small>Jan 27, 2016</small>
                                            </strong>
                                            <p>Welcome to Logo Design fundamentals of building a great brand Logo. Our course teacher Lauren, walks you through his process of logo design.</p>
                                        </div>
                                        <div class="edu2_cur_des_ft">
                                            <figure>
                                                <img src="/images/cur_ft.jpg" alt="" />
                                            </figure>
                                            <div class="edu2_cur_ftr_strip">
                                                <h6>Peter Parker</h6>
                                                <div class="rating">
                                                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- EDU COURSES WRAP END -->
                                <!-- EDU COURSES WRAP START -->
                                <div class="col-md-4">
                                    <div class="edu2_cur_wrap">
                                        <figure>
                                            <img src="/images/cur-wrap-2.jpg" alt="">
                                            <figcaption><a href="courses-detail.html">See More</a></figcaption>
                                        </figure>
                                        <div class="edu2_cur_des">
                                            @*<span>$20</span>*@
                                            <h5><a href="#">Real Estate Law</a></h5>
                                            <strong>
                                                <span>Dec 27, 2015</span>
                                                <small>Jan 27, 2016</small>
                                            </strong>
                                            <p>If you want to build a successful business online, watch the promo video to see why 13,000+ students are using this online entrepreneurship course to learn.</p>
                                        </div>
                                        <div class="edu2_cur_des_ft">
                                            <figure>
                                                <img src="/images/cur_ft.jpg" alt="" />
                                            </figure>
                                            <div class="edu2_cur_ftr_strip">
                                                <h6>Sara Johnson</h6>
                                                <div class="rating">
                                                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- EDU COURSES WRAP END -->
                            </div>
                            @*<div class="view-all">
                                <a class="btn-3" href="#">View All Cources</a>
                            </div>*@
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="other">
                            <div class="row margin-bottom">
                                <!-- EDU COURSES WRAP START -->
                                <div class="col-md-4">
                                    <div class="edu2_cur_wrap">
                                        <figure>
                                            <img src="/images/cur-wrap-2.jpg" alt="">
                                            <figcaption><a href="courses-detail.html">See More</a></figcaption>
                                        </figure>
                                        <div class="edu2_cur_des">
                                            @*<span>$20</span>*@
                                            <h5><a href="#">Real Estate Law</a></h5>
                                            <strong>
                                                <span>Dec 27, 2015</span>
                                                <small>Jan 27, 2016</small>
                                            </strong>
                                            <p>If you want to build a successful business online, watch the promo video to see why 13,000+ students are using this online entrepreneurship course to learn.</p>
                                        </div>
                                        <div class="edu2_cur_des_ft">
                                            <figure>
                                                <img src="/images/cur_ft.jpg" alt="" />
                                            </figure>
                                            <div class="edu2_cur_ftr_strip">
                                                <h6>Sara Johnson</h6>
                                                <div class="rating">
                                                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- EDU COURSES WRAP END -->
                                <!-- EDU COURSES WRAP START -->
                                <div class="col-md-4">
                                    <div class="edu2_cur_wrap">
                                        <figure>
                                            <img src="/images/cur-wrap-3.jpg" alt="">
                                            <figcaption><a href="courses-detail.html">See More</a></figcaption>
                                        </figure>
                                        <div class="edu2_cur_des">
                                            @*<span>$20</span>*@
                                            <h5><a href="#">Networking Management</a></h5>
                                            <strong>
                                                <span>Dec 27, 2015</span>
                                                <small>Jan 27, 2016</small>
                                            </strong>
                                            <p>Welcome to Logo Design fundamentals of building a great brand Logo. Our course teacher Lauren, walks you through his process of logo design.</p>
                                        </div>
                                        <div class="edu2_cur_des_ft">
                                            <figure>
                                                <img src="/images/cur_ft.jpg" alt="" />
                                            </figure>
                                            <div class="edu2_cur_ftr_strip">
                                                <h6>Peter Parker</h6>
                                                <div class="rating">
                                                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- EDU COURSES WRAP END -->
                                <!-- EDU COURSES WRAP START -->
                                <div class="col-md-4">
                                    <div class="edu2_cur_wrap">
                                        <figure>
                                            <img src="/images/cur-wrap.jpg" alt="">
                                            <figcaption><a href="courses-detail.html">See More</a></figcaption>
                                        </figure>
                                        <div class="edu2_cur_des">
                                            @*<span>$20</span>*@
                                            <h5><a href="#">The Secrets of Economic</a></h5>
                                            <strong>
                                                <span>Dec 27, 2015</span>
                                                <small>Jan 27, 2016</small>
                                            </strong>
                                            <p>Personal time management skills are essential for professional & personal success in any area of life. Those able to successfully implement time management strategies</p>
                                        </div>
                                        <div class="edu2_cur_des_ft">
                                            <figure>
                                                <img src="/images/cur_ft.jpg" alt="" />
                                            </figure>
                                            <div class="edu2_cur_ftr_strip">
                                                <h6>Johny Fisher</h6>
                                                <div class="rating">
                                                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- EDU COURSES WRAP END -->
                            </div>
                            @*<div class="view-all">
                                <a class="btn-3" href="#">View All Cources</a>
                            </div>*@
                        </div>
                    </div>

                </div>
            </div>
            <!--EDU2 COURSES TAB WRAP END-->
        </div>
    </div>
</section>