@{
    ViewData["Title"] = "Política de Privacidade";
}

<!--Content Wrap Start-->
<div class="kf_content_wrap">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="contact_2_headung">
                        <h3>@ViewData["Title"]</h3>
                        <p>A presente Política de Privacidade estatui os parâmetros adotados pelo <b>Colégio Lema</b> relativos aos dados pessoais em virtude da contratação e uso dos serviços ofertados por esta Instituição de Ensino.</p>
                    </div>
                    <hr />
                    <div class="privacy_des">
                        <p>
                            Ao fornecer os seus dados e utilizar os serviços o usuário está de acordo e autoriza o tratamento dos seus dados pessoais para usufruir dos serviços, de acordo com a legislação de dados aplicável.
                            O <b>Colégio Lema</b> irá utilizar os dados pessoais para as finalidades segundo as quais estes foram fornecidos ou por outro motivo similar com os objetivos de uso dos dados.
                        </p>
                        <p>
                            <b>I - Objetivos de uso dos dados:</b>
                            <ul>
                                <li>a) Para a prestação de serviços, emissão de documentos e obrigações legais e regulatórias.</li>
                                <li>b) Gerenciamento da relação com os clientes e usuários dos serviços.</li>
                                <li>c) Encaminhamento de comunicação de marketing por e-mail, mensagem ou qualquer outro meio.</li>
                                <li>d) Dados relativos à pré-matrícula e matrícula escolar.</li>
                            </ul>
                        </p>
                        <p>
                            <b>II - Compartilhamento de dados:</b>
                            <ul>
                                <li>Caso seja necessário para que seja disponibilizado recursos e aplicativos referente aos Serviços prestados poderá existir o compartilhamento de dados com outras empresas, no entanto, o <b>Colégio Lema</b> apenas compartilha dados pessoais coletados com empresas que asseguram o cumprimento de padrões de segurança e da lei de proteção de dados. Em nenhuma hipótese, o <b>Colégio Lema</b> vende, comercializa ou transfere informações dos usuários para outras empresas de forma contrária a presente Política de Privacidade.</li>
                            </ul>
                        </p>
                        <p>
                            <b>III - Prazo de armazenamento:</b>
                            <ul>
                                <li>O <b>Colégio Lema</b> manterá os dados pessoais pelo prazo necessário ao atendimento do objetivo para o qual foram coletados, bem como, para cumprir com obrigações contratuais, legais e fiscais. Em casos de dados que deixam de ser necessários a finalidade da coleta eles serão excluídos, desde que o armazenamento não seja obrigatório por lei ou autoridade regulatória.</li>
                            </ul>
                        </p>
                        <p>
                            <b>IV - Cookies e tecnologias de terceiros</b>
                            <ul>
                                <li>O <b>Colégio Lema</b> poderá utilizar cookies dentre outras tecnologias de identificação em seus aplicativos, site, e-mail e anúncios on-line para a finalidade descrita na Política de Privacidade. No entanto, o usuário a seu critério poderá optar por configurar o navegador para recusar cookies, ou para alertar quando os cookies são encaminhados, no entanto, o usuário tem conhecimento que o Site poderá não funcionar corretamente.</li>
                            </ul>
                        </p>
                        <p>
                            <b>V - Alterações da política de privacidade:</b>
                            <ul>
                                <li>O usuário está ciente que a presente Política de Privacidade poderá ser atualizada a qualquer momento. Nesse sentido em caso de atualização será incluída uma nova data para que os usuários saibam quando alguma alteração foi realizada.</li>
                            </ul>
                        </p>
                        <p>
                            <b>VI - Aceitação dos termos:</b>
                            <ul>
                                <li>Ao utilizar o site e fornecer informações ao <b>Colégio Lema</b> o usuário indica a sua aceitação desta Política de Privacidade, sendo a demonstração de vontade do usuário.</li>
                            </ul>
                        </p>
                        <p>
                            Início da vigência: 1 de janeiro de 2021.<br />
                            Última alteração: 1 de janeiro de 2021.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@*<div>
    <input type="range" min="0" max="100" value="20" name="myRange" />
    <input type="file" />
</div>*@
