<!-- COPYRIGHTS INÍCIO -->
<div class="edu2_copyright_wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="version_des">
                    <span>Versão: @ViewBag.Version</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="copyright_des">
                    <span>© All Rights reserved - @DateTime.Now.Year. Desenvolvido por <a href="#">Miguel Passos</a></span>
                </div>
            </div>
            <div class="col-md-3">
                <ul class="cards_wrap">
                    <li><a><img src="/images/linkedin-icon.png" alt="" style="width: 30px;margin: 0 10px;"></a></li>
                    <li><a><img src="/images/instagram-icon.png" alt="" style="width: 33px;margin: 0 2px;"></a></li>
                    <li><a><img src="/images/twitter-icon.png" alt="" style="width: 33px;margin: 0 7px;"></a></li>
                    <li><a><img src="/images/facebook-icon.png" alt="" style="width: 45px;"></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- COPYRIGHTS FIM -->