<!--NEWS LETTERS START-->
<div class="edu2_ft_topbar_wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="edu2_ft_topbar_des">
                    <h5>Inscreva-se na nossa Newsletter semanal</h5>
                </div>
            </div>
            <div class="col-md-6">
                <div class="edu2_ft_topbar_des">
                    <form>
                        <input type="email" placeholder="Informe um Endereço de E-mail Válido">
                        <button><i class="fa fa-paper-plane"></i>Submeter</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--NEWS LETTERS END-->
