<div class="modal fade" id="reg-box" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <div class="modal-content">
            <!--SIGNIN AS USER START-->
            <div class="user-box">
                <h2>Registrar Usuário</h2>
                <!--FORM FIELD START-->
                <form asp-controller="Account" asp-action="Register" asp-antiforgery="true" method="post">
                    <div class="input-container">
                        <input type="text" class="cpf" placeholder="CPF" required name="Document" alt="Informe o CPF previamente cadastrado no sistema.">
                        <i class="fas fa-id-card"></i>
                    </div>
                    <div class="input-container">
                        <input type="text" class="username" placeholder="Usuário" required name="UserLogin" alt="Informe um nome de usuário a sua escolha.">
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="input-container">
                        <input type="password" placeholder="Senha" required name="Password" autocomplete="cc-csc" alt="A senha deve conter: 6 a 8 caracteres, 1 letra maiúscula, 1 caracter especial e 1 número.">
                        <i class="fa fa-unlock"></i>
                    </div>
                    <div class="input-container">
                        <label style="font-size: 16px;">
                            <span class="radio">
                                <input type="checkbox" name="foo" value="1" checked="">
                                <span class="radio-value" aria-hidden="true"></span>
                            </span>
                            <span>Mantenha-me logado</span>
                        </label>
                    </div>
                    <div class="input-container">
                        <input id="btnRegister" type="submit" class="btn-style" value="Registrar">
                    </div>
                </form>
                <!--FORM FIELD END-->
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
